@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Neue:wght@400;700&family=Courgette&family=Pacifico&family=Paytone+One&family=Roboto:wght@400;500&family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
}

::selection{
  color: white;
  background-color: coral;
}

body{
  background-color: rgb(255, 240, 222);
}
/* navbar */
.navbar{  
  background-color: rgb(255, 232, 190);
  border: 4px solid rgb(113, 77, 0);
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  /* font-family: 'Comic Neue',Arial, Helvetica, sans-serif; */
  font-family: 'Chewy',Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

.navbar img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 64px;
  margin-right: 10px;
}
.navbar h1{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: rgb(113, 77, 0);
}
.navbar .links{
  margin-left: auto;
}

.navbar a{
  color: coral;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.2s;
}

.navbar a:hover{
  color: rgb(255, 51, 0);
}
.navbar a:active{
  color: rgb(196, 39, 0);
}

/* main container for content */
.content{
  justify-content: center;
  font-family: 'Courgette',Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
}
/* homepage that stores latest blogs */
.home h1{
  font-size: 26px;
  color: rgb(113, 77, 0);
}
.home p{
  font-weight: 700;
  color: coral;
}

/* styles of blog previews */
.blog-previews{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  align-items: center;
}
.single-blog-preview{
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.blog-preview-text a{
  text-decoration: none;
  transition: text-shadow 0.25s;
}
.blog-preview-text h1{
  transition: color 0.25s;
  font-size: 36px;
}
.blog-preview-text h1:hover{
  color: rgb(194, 116, 0);
}
.blog-preview-text p{
  margin-top: 5px;
  font-size: large;
}

.blog-preview-side-image img{
  width: 42px;
  margin-left: 5px;
}

/* Styles of the concrete blog  */
article{
  text-align: center;
  margin: 10px 20px;
}

article h1{
  color:rgb(113, 77, 0);
  font-size: 48px;
  font-family: 'Chewy', sans-serif;
}
article h2{
  margin-top: 30px;
  padding-left: 50px;
  color:rgb(255, 255, 255);
  background: -webkit-linear-gradient( rgb(113, 77, 0),rgb(255, 152, 74));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Courgette';
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  
}

article h3{
  margin-top: 38px;
  color:rgb(255, 152, 74);
  font-size: 26px;
  text-align: end;
  margin-right: 20px;
  font-family: 'Chewy', sans-serif;
}

article button{
  margin-top: 20px;
  width: 250px;
  height: 48px;
  border-radius: 15px;
  border: 2px solid rgb(113, 77, 0);
  background-color: coral;

  font-family:'Chewy';
  font-size: 22px;
  color:rgb(255, 251, 228);
  transition: background-color 250ms;
}
article button:hover{
  background-color: rgb(255, 88, 17);
}

/* post a new blog part */

.create{
  text-align: center;
  font-family: 'Chewy';
  color: rgb(184, 126, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create h2{
  font-size: 36px;
  color: rgb(113, 77, 0);
  padding-bottom: 16px;
}
.create form{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create form label{
  font-size: 28px;
  margin: 5px 0;
  color: coral;
}

.create form input{
  font-family: 'Courgette';
  color: rgb(113, 77, 0);
  font-size: 20px;
  text-align: center;
  height: 36px;
  border-radius: 10px;
  border: 2px solid rgb(113, 77, 0);
  caret-color: rgb(174, 46, 0);
}
.create form input:focus{
  outline: 2px solid coral;
}

.create textarea{
  padding-left: 10px;
  font-family: 'Courgette';
  font-size: 20px;
  color: rgb(113, 77, 0);
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  border: 2px solid rgb(113, 77, 0);
  border-radius: 10px;
  caret-color: rgb(174, 46, 0);
  
}
.create textarea:focus{
  outline: 2px solid coral;
}

.create form button{
  margin-top: 15px;
  height: 56px;
  border-radius: 15px;
  border: 2px solid rgb(113, 77, 0);
  background-color: coral;

  font-family:'Chewy';
  font-size: 32px;
  color:rgb(255, 251, 228);
  transition: background-color 250ms;
}
.create form button:hover{
  background-color: rgb(255, 88, 17);
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: coral;
}

.not-found a{
  font-family: 'Chewy';
  border: 2px solid rgb(113, 77, 0);
  background-color: coral;
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
  color: rgb(255, 250, 203);
  text-decoration: none;
  transition: 250ms;
}
.not-found a:hover{
  background-color: rgb(255, 68, 0);
}